@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'); 

.navbar { border-radius: 0; }

.container-fluid { text-align: center; }

#poll-list li a {
    color:black;
    cursor:default;
}

#poll-list li a:hover {
    background-color: cyan;
    text-decoration: none;
}

#poll-list {
    height: 2em;
    line-height: 2em;
    list-style-type:none;
}

.options li {
    list-style-type:none;
}

.poll-data {
    margin-left: 55px;
}

.poll-data-container {
    position:absolute;
    z-index: 2;
}

#myChart {
    position:absolute;
    z-index: 1;
}

.poll-data button,
.poll-data a,
.poll-data input {
    margin-bottom: 10px;
}

.userinput {
    display: none;
}

.form-group label {
    font-size: 27px;
    float: left;
}

body {
    position: relative;
}
